logs/*.log
*.sdf
*.ilk
*.pdb
ipch
*.log
*.obj
*.tlog
*.sbr
*.lib
*.exp
*.bsc
*.manifest
*.lastbuildstate
*.idb
*.pdb
*.res
*.rc
*.cache
Build/Debug/Zone.exe
Build/Debug/World.exe
Build/Debug/Login.exe
Build/Debug/SharedMemory.dll
*.unsuccessfulbuild
